@font-face {
	font-family: Geist;
	src: url(../fonts/Geist-Medium.woff2);
}

body {
	background-color: #010101;
	margin: 0px;
	overflow-y: hidden;
}

a {
	color: white;
	text-decoration-line: none;
}

a:hover {
	animation-name: colorTransition;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Centers horizontally along the main axis */
	align-items: center;
	/* Centers vertically along the cross axis */
	height: 100vh;
}

.lines {
	margin: 0px 0px;
	width: 60vw;
	font-size: 4.5vw;
	text-align: justify;
	text-justify: inter-word;
	text-align-last: justify;
	transition: font-size 0.5s;
	font-family: Geist;
}


/* ---------- ANIMATIONS ----------*/

@keyframes colorTransition {
	0% {
		color: white;
	}

	50% {
		color: blue;
	}

	100% {
		color: white;
	}
}

/* ---------- RESPONSIVENESS ----------*/

@media screen and (max-width: 800px) {
	.lines {
		width: 90vw;
		font-size: 7.5vw;
	}
}

@media screen and (max-height: 400px) {
	.lines {
		width: 70vw;
		font-size: 4.5vw;
	}
}
